[Unit]
Description=Matcha gitea server
After=gitea-tailscale.service

[Container]
Image=gitea/gitea:latest
ContainerName=matcha-gitea
Pod=matcha.pod

EnvironmentFile=__REPO__/.env
Environment=GITEA__security__INSTALL_LOCK=true
Environment=GITEA__database__DB_TYPE=sqlite3

Volume=%h/.local/share/matcha/gitea:/data:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
